* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}
#inner {
  height: 100%;
  width: 65%;
}

#header {
  width: 100%;
  display: flex;
  justify-content: center;
}

#choice {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
#choice > p:hover {
  text-decoration: underline;
  background-color: rgb(153, 153, 153);
}

.container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.topStoryImage {
  width: 500px;
}
.mostPopularImage {
  width: 200px;
}
.midImage {
  width: 200px;
}

.news {
  cursor: pointer;
}

.topNewsContainer {
  margin-bottom: 20px;
  padding: 30px;
  width: 550px;
}

.mostPopularNewsContainer {
  margin-bottom: 20px;
  padding: 30px;
  width: 300px;
}
.midNewsContainer {
  margin-bottom: 20px;
  padding: 30px;
  width: 300px;
}

h1 {
  width: 200px;
  border-bottom: 2px solid red;
  text-align: center;
  padding: 5px;
}
